{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-center" id="projects">
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <h1>Проектная деятельность на факультете информационных технологий</h1>
                <a href="#services" class="btn btn-primary scroll">Выберите направление</a>
                <p>Получите или усовершенствуйте навыки командной работы - уже в университете!</p>
            </div>
        </div>
    </div>
</div>

<div>
    <h2 class="text-center">Направления</h2>
</div>

<div class="row justify-content-center w-100">
    {% for direction in directions %}
    <a href="{{ url_for('direction', direction_id=direction.id) }}" class="card col-md-3 m-2 p-2 text-center">
        <img class="card-img-top" src="/static/img/{{ direction.img }}.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ direction.name }}</h5>
            <p class="card-text">{{ direction.description }}</p>
        </div>
    </a>
    {% endfor %}
</div>

<div class="row justify-content-center w-100" style="{% if request.endpoint == 'index' %}display: none;{% endif %}">
    <div class="row w-100 justify-content-center">
        <h2 class="text-center">Лучшие проекты</h2>
    </div>
    <div class="card-deck swiper-container w-100 pl-5">
        <div class="swiper-wrapper w-100 pl-5">
            {% for project in projects %}
            <div class="card swiper-slide" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ loop.index }}</h5>
                    <p class="card-text">{{ project.name }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('project', project_id=project.id) }}" class="btn btn-primary">Страница
                        проекта</a>
                </div>
            </div>
            {% endfor %}
            <div class="card swiper-slide" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ещё</h5>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('all_projects', direction_id=direction_id) }}"
                        class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev pl-5"></div>
        <div class="swiper-button-next"></div>
    </div>
    <script>
        var swiper = new Swiper('.swiper-container', {
            updateOnWindowResize: true,
            observer: true,
            observeParents: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                250: {
                    slidesPerView: 1,
                    spaceBetween: 15
                },
                550: {
                    slidesPerView: 2,
                    spaceBetween: 15
                },
                850: {
                    slidesPerView: 3,
                    spaceBetween: 15
                },
                1150: {
                    slidesPerView: 3,
                    spaceBetween: 15
                },
                1450: {
                    slidesPerView: 3,
                    spaceBetween: 15
                }
            }
        });
    </script>

</div>

{% endblock %}