{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}
<div class="projects_header">
    <h1 class="d-flex align-items-center justify-content-center " style=" margin: 30px; margin-top: 120px; color: #f2f2f2; font-size: 40px;"> Проекты</h1>
</div>
<div class="row justify-content-center mt-5 servicess">
{% for project in projects %}
    <div class="card-container">
        <div class="swiper-card d-flex flex-column">
            <div class="swiper-circle">
                <h2 class="card-title">{{ loop.index + (pagination_info.current_page - 1) * 6 }}</h2>
            </div>
            <div class="swiper-content">
            <p class="cardtext" style="margin-bottom:0; padding-bottom:0;">{{ project.name }}</p>
            <a href="{{ url_for('project', project_id=project.id) }}" class="btnprojects">Страница проекта</a>
            </div>
        </div>
    </div>

{% endfor %}
</div>
{{ render_pagination(request.endpoint, pagination_info) }}

{% endblock %}