{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}
<div class="projects_header">
    <h1 class="d-flex align-items-center justify-content-center "
        style=" margin: 30px; margin-top: 120px; color: #f2f2f2;"> Проекты</h1>
</div>
<div class="row w-100">
    <form class="w-50" method="post">
        <div class="form-row">
            <div class="col">
                <label for="name" style="color: #f2f2f2; font-weight: bold; font-size: 18px;">Название проекта</label>
                <input class="form-control" type="text" id="name" name="name" value="{% if pagination_info.name == "'%%'" or pagination_info.name == None %}{% else %}{{ pagination_info.name | replace("%", "") | replace("'", "") }}{% endif %}">
            </div>
            <div class="col">
                <label for="FormControlSelect1" style="color: #f2f2f2;  font-weight: bold; font-size: 18px;">Семестр</label>
                <select class="form-control" id="semestr" name="semestr">
                    <option value="{% if pagination_info.semestr == "IS NOT NULL" or pagination_info.semestr == None %}{% else %}{{ pagination_info.semestr | replace("=", "") | replace("'", "") }}{% endif %}">{% if pagination_info.semestr == '=1' %}Осенний семестр 2020{% endif %}{% if pagination_info.semestr == '=2' %}Весенний семестр 2021{% endif %}{% if pagination_info.semestr == '=3' %}Весенний семестр 2020{% endif %}{% if pagination_info.semestr == '=4' %}Осенний семестр 2019{% endif %}</option>
                    <option value="1">Осенний семестр 2020</option>
                    <option value="2">Весенний семестр 2021</option>
                    <option value="3">Весенний семестр 2020</option>
                    <option value="4">Осенний семестр 2019</option>
                </select>
            </div>
            <div class="col">
                <label for="FormControlSelect2" style="color: #f2f2f2; font-weight: bold; font-size: 18px;">Направление</label>
                <select class="form-control" id="direct" name="direct">
                    <option value="{% if pagination_info.direct == "IS NOT NULL" or pagination_info.direct == None %}{% else %}{{ pagination_info.direct | replace("=", "") | replace("'", "") }}{% endif %}">{% if pagination_info.direct == '=1' %}ИНТЕГРАЦИЯ И ПРОГРАММИРОВАНИЕ В САПР{% endif %}{% if pagination_info.direct == '=2' %}ПРИКЛАДНАЯ КИБЕРБЕЗОПАСНОСТЬ{% endif %}{% if pagination_info.direct == '=5' %}КОРПОРАТИВНЫЕ ИНФОРМАЦИОННЫЕ СИСТЕМЫ{% endif %}{% if pagination_info.direct == '=6' %}КИБЕРФИЗИЧЕСКИЕ СИСТЕМЫ{% endif %}{% if pagination_info.direct == '=7' %}ВЕБ-ТЕХНОЛОГИИ{% endif %}{% if pagination_info.direct == '=8' %}БОЛЬШИЕ И ОТКРЫТЫЕ ДАННЫЕ{% endif %}{% if pagination_info.direct == '=9' %}КИБЕРБЕЗОПАСНОСТЬ ВЕБ-ПРИЛОЖЕНИЙ{% endif %}</option>
                    <option value="1">ИНТЕГРАЦИЯ И ПРОГРАММИРОВАНИЕ В САПР</option>
                    <option value="2">ПРИКЛАДНАЯ КИБЕРБЕЗОПАСНОСТЬ</option>
                    <option value="5">КОРПОРАТИВНЫЕ ИНФОРМАЦИОННЫЕ СИСТЕМЫ</option>
                    <option value="6">КИБЕРФИЗИЧЕСКИЕ СИСТЕМЫ</option>
                    <option value="7">ВЕБ-ТЕХНОЛОГИИ</option>
                    <option value="8">БОЛЬШИЕ И ОТКРЫТЫЕ ДАННЫЕ</option>
                    <option value="9">КИБЕРБЕЗОПАСНОСТЬ ВЕБ-ПРИЛОЖЕНИЙ</option>
                </select>
            </div>
            <div class="row w-100" style="margin-top: 20px ;">
                <button type="submit" class="btn btn-primary w-75" style="background-color: #ce5353; border-color: #ce5353; border-radius: 40px;">Поиск</button>
            </div>
        </div>
    </form>
</div>
<div class="row justify-content-center mt-5 servicess">
    {% for project in projects %}
    <div class="card-container">
        <div class="swiper-card d-flex flex-column">
            <div class="swiper-circle">
                <!--<h4 class="card-title">{{ loop.index + (pagination_info.current_page - 1) * 1 }}</h4>-->
                <h4 class="card-title">{{ project.autumn_or_spring }}</h4>
            </div>
            <div class="swiper-content">
                <p class="cardtext" style="margin-bottom:0; padding-bottom:0;">{{ project.name }}</p>
                <a href="{{ url_for('project', project_id=project.id) }}" class="btnprojects">Страница проекта</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if pagination_info.total_pages > 0 %}
    {{ render_pagination(request.endpoint, pagination_info) }}
{% endif %}
{% endblock %}