{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="search_block">
        <form class="search_form" name="search" id="search">
            <div class="d-flex justify-content-between bd-highlight search-menu align-items-center">
                <a id="clickme" class="bd-highlight search-link">Проект...</a>
                <input type="search" class="form-control rounded search-link-mobile" placeholder="Название проекта"
                    aria-label="Search" aria-describedby="search-addon" style="font-size: 44px; display: none;"
                    id="proj-name1" name="name" />
                <div class="bd-highlight align-items-center dropdown search-title" id="slider">
                    <select class="se projects-sel" aria-label="Default select example" name="direction_id"
                        id="direction_id">
                        <option class="" selected value="">Направление</option>
                        {% for direction in directions %}
                        <option class="" value="{{ direction.id }}">{{ direction.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="bd-highlight  align-items-center dropdown search-title" id="slider2">
                    <select class="se projects-sel" aria-label="Default select example" name="semester_id">
                        <option class="" selected value="">Семестр</option>
                        {% for semester in semesters %}
                        <option class="" value="{{ semester.id }}">{{ semester.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="other" class=" other input-group rounded" style="display: none;">
                    <input type="search" class="form-control rounded search-pro"
                        placeholder="Название желаемого проекта" aria-label="Search" aria-describedby="search-addon"
                        style="font-size: 44px;" id="proj-name" name="name" />
                    <span class="input-group-text border-0 ex-button" id="search-addon">
                        <i id="back-search" class="bi bi-x-lg "></i>
                    </span>
                </div>
            </div>
            <script>
                $("#clickme").click(function () {
                    $("#slider").hide("fast");
                    $("#slider2").hide("fast");
                    $("#clickme").hide("fast");
                    $("#other").show("fast");
                });
            </script>
            <script>
                $("#search-addon").click(function () {
                    $("#slider").show("fast");
                    $("#slider2").show("fast");
                    $("#clickme").show("fast");
                    $("#other").hide("fast");
                });
            </script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#search").bind("keypress", function (e) {
                        if (e.keyCode == 13) {
                            return false;
                        }
                    });
                });
            </script>
            <div class="d-flex justify-content-between bd-highlight align-items-center select-search">
                <div class="d-flex align-items-center sel_el">
                    <p class="sel_el_txt">Отображать по</p>
                    <select class="sel_el_num" name="per_page">
                        <option value="6" selected>6</option>
                        <option value="12">12</option>
                        <option value="18">18</option>
                    </select>
                </div>
                <div class="button-block"><a class="btn btn-primary search-but" type="button" id="submitForm">Найти</a>
                </div>
            </div>

        </form>
    </div>
    <div class="container">
        <div class="loader" id="loading" style="display: none;">Loading...</div>
    </div>
    <div class="some-proj" id="projects"></div>
    <nav aria-label="Page navigation example" class="text-center pagin-block">
        <ul class="pagination" id="pagination">
            <li class="page-item">
                <a class="page-link prev-page-btn" aria-label="Previous">
                    <span class="sr-only">Назад</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="Next" id="next">
                    <span class="sr-only">Вперед</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}