{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!-- <a id="button-like"></a> Добавить проставление лайков -->
    <div class="head-block">
        <div class="poster-block">
            {% if project.poster %}
            <img src="{{ project.poster[0].url }}" class="poster-block-img" alt="...">
            {% else %}
                {% if google_poster %}
                <iframe class="poster-block-img" src="{{ google_poster | replace('view', 'preview') }}" width="480" height="720" scrolling="no"></iframe>
                {% else %}
                <img src="{{ url_for('defposter') }}" class="poster-block-img" alt="...">
                {% endif %}
            {% endif %}
        </div>
        <div class="info-block">
            <div class="proj-desc d-block">
                <div class="d-flex align-items-start flex-column bd-highlight proj-desc-block">
                    <p class="proj-name">{{ project.name }}</p>
                    <p class="proj-sem">{{ project.semester.name }}</p>
                </div>
                <div class="proj-links d-flex flex-row justify-content-between">
                    <div class="proj-links-block d-flex justify-content-between align-items-center bd-highlight">
                        <div class="bd-highlight proj-git"><a target="_blank" rel="noopener noreferrer"
                                class="btn btn-outline-success plink"
                                href="{% for info in project.info %}{% if info.type.name == 'GitHub' %}{{ info.resource }}{% endif %}{% endfor %}">GitHub</a>
                        </div> <!-- Добавить подгрузку гита -->
                        <div class="bd-highlight proj-site"><a target="_blank" rel="noopener noreferrer"
                                class="btn btn-outline-success plink"
                                href="{% for info in project.info %}{% if info.type.name == 'Сайт' %}{{ info.resource }}{% endif %}{% endfor %}">Сайт
                                проекта</a></div> <!-- Добавить подгрузку сайта -->
                    </div>
                    <div class="proj-likes d-flex align-items-center justify-content-end">
                        <i class="bi bi-heart px-2 plike" style="color: black; margin-right: 0px !important;"></i> <p class="" style="margin-bottom: 0; margin-right: 100px;"id="plike">{{ project.likes }}</p> 
                    </div>
                </div>
                <div class="proj-shrt-desc d-flex justify-content-start">
                    {{ project.short_description }}
                    
                </div>
            </div>
        </div>
    </div>
    <div class="tech-block">
        <div class="d-flex flex-column bd-highlight">
            <p class="bd-highlight tech-block-name">Используемые технологии</p>
            <div class=" bd-highlight d-flex flex-row flex-wrap justify-content-start">
                {% for item in project.techs %}
                <p class="bd-highlight item-tech">{{ item.name }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="like-container"> 
        <input type="checkbox" class="like-btn" id="button-like1">
        <i class="fa fa-heart"></i>
    </div>
    {% if google_video %}
    <div class="video-block d-flex flex-column">
        <div class="d-flex flex-row justify-content-start">
            <p class="video-txt">Видеообзор</p>
        </div>
        <!-- <video src="{% for info in project.info %}{% if info.type.name == 'Видео с GoogleDisk' %}{{ info.resource }}{% endif %}{% endfor %}" playsinline
            controls class="intro-video" preload="auto" type="video/mp4"></video> -->
        <div class="video-mp4"><iframe class="video-mp4-item"
            src="{{ google_video | replace('view', 'preview') }}"></iframe></div>
    </div>
    {% endif %}
    <div class="md-block">
        <div class="d-flex flex-row justify-content-start">
            <p class="md-txt">Подробнее о проекте</p>
        </div>
        <div>
            {{ project.html | safe }}
        </div>
    </div>
    <div class="team-block">
        <div class="d-flex flex-row justify-content-start">
            <p class="team-txt">Команда</p>
        </div>
        <div class="team-cards">
            <div class="d-flex justify-content-center">
                <div class="kur-block d-flex flex-column align-items-center justify-content-center">
                    <p class="kur-name">{% if project.curator %}{{ project.curator.full_name }}{% else %}Информация
                        временно отсутствует{% endif %}</p>
                    <p class="kur-role">Куратор</p>
                </div>
            </div>
            <div class="d-flex justify-content-center all-stud-block">
                {% for student in project.function %}
                <div class="stud-block d-flex flex-column align-items-center justify-content-center">
                    <p class="stud-name">{{ student.student.full_name }}</p>
                    <p class="stud-role">{{ student.function }}</p>
                    <p class="stud-group"> {{ student.student.group.name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
