{% extends 'base.html' %}
{% block content %}
<div class="container">
    <a id="button-like"></a> <!-- Добавить проставление лайков -->
    <div class="head-block">
        <div class="poster-block">
            <img src="https://img.pikbest.com/01/56/32/93KpIkbEsTjF8.jpg-0.jpg!bw700" class="poster-block-img"
                alt="..."> <!-- Добавить подгрузку постера -->
        </div>
        <div class="info-block">
            <div class="proj-desc d-block">
                <div class="d-flex align-items-start flex-column bd-highlight">
                    <p class="proj-name">{{ project.name }}</p>
                    <!-- Добавить подгрузку названия -->
                    <p class="proj-sem">Проектный семестр 2021</p> <!-- Добавить подгрузку семестра -->
                </div>
                <div class="proj-links d-flex flex-row justify-content-between">
                    <div class="d-flex justify-content-between bd-highlight">
                        <div class="bd-highlight proj-git"><button class="btn btn-outline-success plink" type="submit"
                                href="">GitHub</button></div> <!-- Добавить подгрузку гита -->
                        <div class="bd-highlight proj-site"><button class="btn btn-outline-success plink" type="submit"
                                href="">Сайт проекта</button></div> <!-- Добавить подгрузку сайта -->
                    </div>
                    <div class="proj-likes d-flex align-items-center justify-content-end">
                        <p class="plike"><i class="bi bi-heart"></i> 2222</p>
                        <!-- Это не кнопка, а текстовое поле. Добавить подгрузку значения лайков-->
                    </div>
                </div>
                <div class="proj-shrt-desc d-flex justify-content-start">
                    {{ project.short_description }}
                </div>
            </div>
        </div>
    </div>
    <div class="tech-block">
        <!-- Добавить подгрузку технологий -->
        <div class="d-flex flex-column bd-highlight">
            <p class="bd-highlight tech-block-name">Языки и инструменты проекта</p>
            <div class=" bd-highlight d-flex flex-row flex-wrap justify-content-start">
                <p class="bd-highlight item-tech">Java</p>
                <p class="bd-highlight item-tech">flutter</p>
                <p class="bd-highlight item-tech">figma</p>
                <p class="bd-highlight item-tech">kotlin</p>
                <p class="bd-highlight item-tech">Java</p>
                <p class="bd-highlight item-tech">flutter</p>
                <p class="bd-highlight item-tech">figma</p>
                <p class="bd-highlight item-tech">kotlin</p>
                <p class="bd-highlight item-tech">Java</p>
                <p class="bd-highlight item-tech">flutter</p>
                <p class="bd-highlight item-tech">figma</p>
                <p class="bd-highlight item-tech">kotlin</p>
                <p class="bd-highlight item-tech">Java</p>
                <p class="bd-highlight item-tech">flutter</p>
                <p class="bd-highlight item-tech">figma</p>
                <p class="bd-highlight item-tech">kotlin</p>
            </div>
        </div>
    </div>
    <div class="video-block d-flex flex-column">
        <div class="d-flex flex-row justify-content-start">
            <p class="video-txt" style="">Видеообзор</p>
        </div>
        <video src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" playsinline
            controls class="intro-video" preload="auto" type="video/mp4"></video>
        <!-- Добавить подгрузку видео(пока в разработке)-->
    </div>
    <div class="md-block">
        <div class="d-flex flex-row justify-content-start">
            <p class="md-txt" style="">Поподробнее о проекте</p>
        </div>
        <div>
            {{ project.html | safe }}
        </div>
    </div>
    <div class="team-block">
        <!-- Добавить подгрузку кураторов(ФИО, роль), студентов(ФИО, роль, группа)-->
        <div class="d-flex flex-row justify-content-start">
            <p class="team-txt">Команда</p>
        </div>
        <div class="team-cards">
            <div class="d-flex justify-content-center">
                <div class="kur-block d-flex flex-column align-items-center justify-content-center">
                    <p class="kur-name">Куратор Кураторович</p>
                    <p class="kur-role">Куратор</p>
                </div>
            </div>
            <div class="d-flex justify-content-center all-stud-block">
                <div class="stud-block d-flex flex-column align-items-center justify-content-center">
                    <p class="stud-name">Студент Студентович Студентов</p>
                    <p class="stud-role">Дизайнер</p>
                    <p class="stud-group"> 199-999</p>
                </div>
                <div class="stud-block d-flex flex-column align-items-center justify-content-center">
                    <p class="stud-name">Студент С.С.</p>
                    <p class="stud-role">Тим-лид</p>
                    <p class="stud-group"> 199-999</p>
                </div>
                <div class="stud-block d-flex flex-column align-items-center justify-content-center">
                    <p class="stud-name">Студент Студентович</p>
                    <p class="stud-role">Бэкэнд-разработчик</p>
                    <p class="stud-group"> 199-999</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}