{% from 'pagination_js.html' import render_pagination %}

{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="search_block">
        <div class="d-flex justify-content-between bd-highlight search-menu">
            <a id="clickme" class="bd-highlight">Проект...</a>
            <div class="bd-highlight dropdown" id="slider">
                <!-- Выбор направления -->
                <a class="dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Направление
                    <i class="bi bi-chevron-down drop-ic"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for direction in directions %}
                    <li><a class="dropdown-item" value="{{ direction.id }}" href="">{{ direction.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="bd-highlight dropdown" id="slider2">
                <!-- Выбор семестра -->
                <a class="dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Семестр
                    <i class="bi bi-chevron-down drop-ic"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for semester in semesters %}
                    <li><a class="dropdown-item" value="{{ semester.id }}" href="">{{ semester.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="other" class=" other input-group rounded" style="display: none;">
                <!-- Поиск проекта -->
                <input type="search" class="form-control rounded search-pro" placeholder="Название желаемого проекта"
                    aria-label="Search" aria-describedby="search-addon" style="font-size: 44px;" />
                <span class="input-group-text border-0" id="search-addon">
                    <i id="back-search" class="bi bi-x-lg"></i>
                </span>
            </div>
            <!-- <div id="other" style="display:none" class="input-group rounded bd-highlight">
                <input class="form-control" type="text" id="name" name="name" value="" />
                <span class="input-group-text border-0" id="search-addon">
                    <i class="bi bi-x-lg"></i>
                </span>
            </div> -->
        </div>
        <!-- Скрипт для отображения строки поиска -->
        <script> 
            $("#clickme").click(function () {
                $("#slider").hide("fast");
                $("#slider2").hide("fast");
                $("#clickme").hide("fast");
                $("#other").show("fast");
            });
        </script>
        <script>
            $("#back-search").click(function () {
                $("#slider").show("fast");
                $("#slider2").show("fast");
                $("#clickme").show("fast");
                $("#other").hide("fast");
            });
        </script>
        <!-- Скрипт для скрытия строки поиска. Можно отправить в main.js -->
        <div class="pro-sort">
            <div class="d-flex justify-content-between">
                <label class="pro-label"> <!-- Кнопка для выбора количества отображаемых элементов -->
                    Отображать по <select>
                        <option value="6">6</option>
                        <option value="12">12</option>
                        <option value="18">18</option>
                    </select>
                </label>
                <button class="btn btn-primary">Поиск</button> <!-- Кнопка для отправки запроса поиска TODO://добавить скрытие строки поиска при нажатии на эту кнопку(ВЛАД) -->
            </div>
        </div>
    </div>
    <div class="some-proj">
        <a class="to-project-link">
            <!--Добавить ссылку на проект-->
            <div class="d-flex flex-column bd-highlight">
                <div class="d-flex justify-content-between bd-highlight pro-block">
                    <div class="d-flex flex-column bd-highlight pro-name-napr">
                        <p class="fw-bold pro-name">Название проекта</p>
                        <!--Добавить название проекта-->
                        <p class="">Учебное направление СДЕЛАТЬ!!!</p>
                        <!--Добавить направление проекта-->
                    </div>
                    <p class="pro-like"><i class="bi bi-heart"></i> 2222</p>
                    <!--Добавить лайки проекта-->
                    <p class="pro-sem">СЕМЕСТР СДЕЛАТЬ!!!!</p>
                    <!--Добавить семестр проекта-->
                </div>
            </div>
        </a>
        <a class="to-project-link">
            <!--Добавить ссылку на проект-->
            <div class="d-flex flex-column bd-highlight">
                <div class="d-flex justify-content-between bd-highlight pro-block">
                    <div class="d-flex flex-column bd-highlight pro-name-napr">
                        <p class="fw-bold pro-name">Название проекта</p>
                        <!--Добавить название проекта-->
                        <p class="">Учебное направление СДЕЛАТЬ!!!</p>
                        <!--Добавить направление проекта-->
                    </div>
                    <p class="pro-like"><i class="bi bi-heart"></i> 2222</p>
                    <!--Добавить лайки проекта-->
                    <p class="pro-sem">СЕМЕСТР СДЕЛАТЬ!!!!</p>
                    <!--Добавить семестр проекта-->
                </div>
            </div>
        </a>
        <a class="to-project-link">
            <!--Добавить ссылку на проект-->
            <div class="d-flex flex-column bd-highlight">
                <div class="d-flex justify-content-between bd-highlight pro-block">
                    <div class="d-flex flex-column bd-highlight pro-name-napr">
                        <p class="fw-bold pro-name">Название проекта</p>
                        <!--Добавить название проекта-->
                        <p class="">Учебное направление СДЕЛАТЬ!!!</p>
                        <!--Добавить направление проекта-->
                    </div>
                    <p class="pro-like"><i class="bi bi-heart"></i> 2222</p>
                    <!--Добавить лайки проекта-->
                    <p class="pro-sem">СЕМЕСТР СДЕЛАТЬ!!!!</p>
                    <!--Добавить семестр проекта-->
                </div>
            </div>
        </a>
        <a class="to-project-link">
            <!--Добавить ссылку на проект-->
            <div class="d-flex flex-column bd-highlight">
                <div class="d-flex justify-content-between bd-highlight pro-block">
                    <div class="d-flex flex-column bd-highlight pro-name-napr">
                        <p class="fw-bold pro-name">Название проекта</p>
                        <!--Добавить название проекта-->
                        <p class="">Учебное направление СДЕЛАТЬ!!!</p>
                        <!--Добавить направление проекта-->
                    </div>
                    <p class="pro-like"><i class="bi bi-heart"></i> 2222</p>
                    <!--Добавить лайки проекта-->
                    <p class="pro-sem">СЕМЕСТР СДЕЛАТЬ!!!!</p>
                    <!--Добавить семестр проекта-->
                </div>
            </div>
        </a>
        <a class="to-project-link">
            <!--Добавить ссылку на проект-->
            <div class="d-flex flex-column bd-highlight">
                <div class="d-flex justify-content-between bd-highlight pro-block">
                    <div class="d-flex flex-column bd-highlight pro-name-napr">
                        <p class="fw-bold pro-name">Название проекта</p>
                        <!--Добавить название проекта-->
                        <p class="">Учебное направление СДЕЛАТЬ!!!</p>
                        <!--Добавить направление проекта-->
                    </div>
                    <p class="pro-like"><i class="bi bi-heart"></i> 2222</p>
                    <!--Добавить лайки проекта-->
                    <p class="pro-sem">СЕМЕСТР СДЕЛАТЬ!!!!</p>
                    <!--Добавить семестр проекта-->
                </div>
            </div>
        </a>
    </div>
    <nav aria-label="Page navigation example" class="text-center">
        <!-- Обновить пагинацию -->
        <ul class="pagination" id="pagination">
            <li class="page-item">
                <a class="page-link prev-pag-btn" aria-label="Previous">
                    <!-- Кнопка возврата -->
                    <span class="sr-only">Назад</span>
                </a>
            </li>

            <li class="page-item act-pag-btn">
                <!-- Активная кнопка -->
                <a class="page-link" href="">
                    <span>1</span>

                </a>
            </li>
            <li class="page-item ">
                <a class="page-link" href="">
                    <!-- Обычный элемент -->
                    <span>2</span>

                </a>
            </li>
            <li class="page-item ">
                <a class="page-link" href="">
                    <!-- Обычный элемент -->
                    <span>3</span>

                </a>
            </li>
            <li class="page-item ">
                <a class="page-link" href="">
                    <!-- Прочие элементы -->
                    <span>. . .</span>

                </a>
            </li>
            <li class="page-item ">
                <a class="page-link" href="">
                    <!-- Общее количество страниц -->
                    <span>1234</span>

                </a>
            </li>

            <li class="page-item">
                <a class="page-link" aria-label="Next" id="next">
                    <!-- Кнопка перехода на следующую сраницу -->
                    <span class="sr-only">Вперед</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}