@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ------------ swiper ------------- */

/* ------------ projects ------------- */

/* ------ pagination -------- */

/* ------ project page -------- */

/* @media (max-width: 992px) {
    .banner {
        min-height: 100vh;
        padding: 100px 0;
    }

    .contentBox h1 {
        font-size: 2rem;
    }

    .navbar-light .navbar-brand,
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:visited {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 980px) {

    .inner-width {
        max-width: 800px;
    }

    .service {
        width: calc(50% - 20px);
    }
    .service1 {
        width: calc(50% - 20px);
    }
    
    .about-pic{
        margin-left: 0;
        margin-top: 20px;
    }

    .about-text{
        align-items: center;
        justify-content: center;
    }

    .col{
        flex: 100%;
        max-width: 80%;
      }
}

@media screen and (max-width:790px) {
    .sec1 .container{
        max-width: 600px;
        display: block;
        text-align:center;
    }

    .image, .info-menu{
        width: 100%;
        margin: 30px 0;
    }

    .likesblock{
        height: 60px;
        display: flex;
        align-items: center;
    }
    
    .links{
        margin-left: 20px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content:space-around;
    }

    .item0{
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }

    .service {
        width: 100%;
    }
    .service1 {
        width: 100%;
    }

    .navbar-light .navbar-brand,
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:visited {
        font-size: 1.2rem;
    }

    .contentBox h1 {
        font-size: 2rem;
        text-transform: none;
    }
    .sec1{
        margin: 0;
    }

    .col{
        flex: 100%;
        max-width: 100%;
      }
}

@media only screen and (max-width: 479px){
    .pagination{
        display: block;
        overflow: auto;
    }
    .pagination:before{ display: none; }
    .pagination li{ display: inline-block; }
}

@media screen and (max-width:380px){
    .sec1 .container{
        max-width: 600px;
        display: block;
        text-align:center;
    }

    .image, .info-menu{
        width: 100%;
        margin: 30px 0;
    }
    
    .likesblock{
        height: 60px;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
    .links{
        margin-left: 20px;
        height: 60px;
        display: flex;
        align-items: center;
    }

    .item0{
        align-items: center;
    }

    .likebtn{
        margin-left: -10px;
    }

    .card-container{
        width: 100%;
    }
    #about{
        padding-top: 0px;
    }
    #part{
        padding-top: 0px;
    }
    .name_project {
        font-size: 2rem;
    }
}

@media screen and (max-width: 330px) {

    .navbar-light .navbar-brand,
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:visited {
        font-size: 1rem;
    }

    .contentBox h1 {
        padding-top: 30px;
    }

    .iconbtn{
        margin:10px;
    }

    .nonetab{
        display: none;
    }
}

.heading-line {
    background-color: white;
    height: 5px;
}
.ph-item {
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #221111;
    background: -moz-linear-gradient(left, #221111 10%, rgba(34,17,17, 0) 42%);
    background: -webkit-linear-gradient(left, #221111 10%, rgba(34,17,17, 0) 42%);
    background: -o-linear-gradient(left, #221111 10%, rgba(34,17,17, 0) 42%);
    background: -ms-linear-gradient(left, #221111 10%, rgba(34,17,17, 0) 42%);
    background: linear-gradient(to right, #221111 10%, rgba(34,17,17, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #221111;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
   */