{% extends 'base.html' %}

{% block content %}
<a id="#button-top" class="d-none"></a>
<img src="../static/pngs/elka.svg" class="img-svg" style="display: inline-block; position: absolute; top: 200px">
<img src="../static/pngs/question.svg" class="img-svg" style="display: inline-block; position: absolute; top: 200px; right: 0;">
<p class="img-svg" style="display: inline-block; position: absolute; top: 200px; left: 680px;font-size: 248px; letter-spacing: 110px; font-weight: 900; color: #4A46FF;">4 4</p>
    <div class="d-flex justify-content-center align-items-center text-center">
        <img src="../static/pngs/error404.svg" class="img-svg" style="margin: 200px 0;">
        
    </div>
    <div class=" d-none er503 container">
        <p class="" style="display: inline-block; position: fixed; align-items:center;justify-content: center;font-size: 110px; letter-spacing: 39px; margin-left: 50px; margin-bottom: 50px; font-weight: 900; color: #4A46FF;">4 4</p>
        <img src="../static/pngs/error404.svg" class=" w-100" style="margin: 200px 0;">
        
    </div>

{% endblock %}