<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-store" />

    <!--Bootstrap links-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--jQuery links-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='main.js')}}"></script>

    <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='new_styles.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Проектная деятельность ФИТ
        {% endif %}
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light data-bs-target">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">FIT Repertory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex">
                <ul class="navbar-nav d-flex justify-content-center align-middle p-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Направления</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://pd.fit.mospolytech.ru/docs">Регламент</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://pd.fit.mospolytech.ru/articles">Статьи</a>
                    </li>
                    <!-- <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"> -->
                    {% if current_user.is_authenticated %}
                    <button class="btn btn-outline-success nav__button" type="submit"
                        href="{{ url_for('auth.logout') }}">Выййти</button>
                    {% else %}
                    <button class="btn btn-outline-success nav__button" type="submit"
                        href="{{ url_for('auth.login') }}">Войти</button>
                    {% endif %}
                    <button class="btn btn-primary nav__button last-btn" type="submit"
                        href="{{ url_for('view.projects') }}">Проекты</button>
                    <!-- </div> -->
        </div>
        </ul>
        </form>
        </div>
        </div>
    </nav>
    <!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">FIT Repertory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-navicon"
                        style="color:#f2f2f2; font-size:28px;"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="{{ url_for('view.projects') }}">Проекты<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://pd.fit.mospolytech.ru/docs">Регламент</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://pd.fit.mospolytech.ru/articles">Статьи</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Выйти</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Войти</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav> -->



    <a id="button-top"></a>
    <!-- <script> 

        jQuery(document).ready(function() {
          var btn = $('#button');  
          $(window).scroll(function() {     
            if ($(window).scrollTop() > 300) {
               btn.addClass('show');
             } else {
               btn.removeClass('show');
             }
           });
           btn.on('click', function(e) {
             e.preventDefault();
             $('html, body').animate({scrollTop:0}, '300');
           });
        });
        </script>  -->
    <div class="container my-5 mw-100 p-0 m-0 mt-0">
        {% block content %}
        <h1>Содержимое по умолчанию</h1>
        {% endblock %}
    </div>
    <div class="mt-5 mx-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, msg in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show mt-5" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endwith %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="d-flex flex-row-reverse bd-highlight cprt-ic-block">
                <a href="https://www.facebook.com/fit.MosPolytech/"><i
                        class="bd-highlight bi bi-facebook cprt-icon"></i></a>
                <i class="bd-highlight bi bi-instagram cprt-icon"></i>
                <a href="https://www.instagram.com/fit.mospolytech/"><i
                        class="bd-highlight bi bi-instagram cprt-icon"></i></a>
            </div>
            <div class="d-flex flex-row bd-highlight">
                <div class="d-flex flex-column bd-highlight mb-3 copyr">

                    <div class="p-2 bd-highlight">&copy; 2021, Московский Политехнический Университет</div>
                    <a href="https://fit.mospolytech.ru">
                        <div class="p-2 bd-highlight">Факультет информационных технологий</div>
                    </a>
                </div>
            </div>

        </div>
        <!-- <a href="https://vk.com/fit.mospolytech" target="_blank" class="fab fa-vk"></a> -->
    </footer>
</body>

</html>