<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-store" />

    <!--Bootstrap links-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_table/dataTables.bootstrap5.min.css') }}" />

    <!-- Select style -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css">

    <!--jQuery links-->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="{{ url_for('static', filename='tools.js')}}"></script>
    <script src="{{ url_for('static', filename='main.js')}}"></script>

    <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='new_styles.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Проектная деятельность ФИТ
        {% endif %}
    </title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container nav-width">
            <div class="d-flex justify-content-between align-items-center" style="height: 38px;">
                <a href="https://new.mospolytech.ru/"><img src="{{ url_for('static', filename='/pngs/logo.svg')}}"  class="" style="height: 38px; width: auto; margin-right: 24px;"></a>
                <a class="navbar-brand" href="{{ url_for('index') }}">

                    FIT Repertory</a>
            </div>
            <button class="opennav d-none" id="opennav">
                <span class="navbar-toggler-icon"><i class="bi bi-list" style="font-size: 30px;"></i></span>
            </button>
            <!-- <button  class="navbar-toggler" id="opennav">
                <span class="navbar-toggler-icon"><i class="bi bi-list" style="font-size: 30px;"></i></span>
            </button> -->

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto d-flex align-items-center" style="margin-left: auto;">
                    <li class="nav-item-icon d-none" style="margin-bottom: 50px;">
                        <a class="nav-link active" aria-current="page" id="exitnav"><i class="bi bi-x-lg"
                                style="color: #4A46FF;"></i></a>
                    </li>
                    <script>
                        // $(button).addClass("active")
                        $("#opennav").click(function () {
                            $("#navbarCollapse").show("fast");
                        });
                        $("#exitnav").click(function () {
                            $("#navbarCollapse").hide("fast");
                        });
                    </script>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Направления</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://pd.fit.mospolytech.ru/docs">Регламент</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://pd.fit.mospolytech.ru/articles">Статьи</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <a class="btn btn-outline-success nav__button log-btn" type="submit"
                        href="{{ url_for('auth.logout') }}">Выйти</a>
                    {% else %}
                    <a class="btn btn-outline-success nav__button log-btn" type="submit"
                        href="{{ url_for('auth.login') }}">Войти</a>
                    {% endif %}
                    <a class="btn btn-primary nav__button last-btn" type="submit"
                        href="{{ url_for('view.projects') }}">Проекты</a>
                </ul>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
    <div class="d-flex justify-content-center">
        <div class="w-50 alert alert-{{ category }} alert-dismissible fade show d-flex justify-content-center"
            role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    {% endfor %}
    {% endwith %}

    <a id="button-top"></a>

    <div class="container my-5 mw-100 p-0 m-0 mt-0">
        {% block content %}
        <h1>Содержимое по умолчанию</h1>
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="d-flex flex-row-reverse bd-highlight cprt-ic-block">
                <a href="https://www.facebook.com/fit.MosPolytech/"><i
                        class="bd-highlight bi bi-facebook cprt-icon"></i></a>
                <a href="https://vk.com/fit.mospolytech"><i class="fa fa-vk bd-highlight cprt-icon "
                        aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/fit.mospolytech/"><i
                        class="bd-highlight bi bi-instagram cprt-icon"></i></a>
            </div>
            <div class="d-flex flex-row bd-highlight">
                <div class="d-flex flex-column bd-highlight mb-3 copyr">

                    <div class="p-2 bd-highlight">&copy; 2021, Московский Политехнический Университет</div>
                    <a href="https://fit.mospolytech.ru">
                        <div class="p-2 bd-highlight">Факультет информационных технологий</div>
                    </a>
                </div>
            </div>

        </div>
        <!-- <a href="https://vk.com/fit.mospolytech" target="_blank" class="fab fa-vk"></a> -->
    </footer>
</body>

</html>