{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid height100p banner" id="projects">
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <h1>Проектная деятельность на факультете информационных технологий</h1>
                <a  scroll-target="#directions" id="scrollButton" class="btn btnD1 scroll">Выберите направление</a>
                <p>Получите или усовершенствуйте навыки командной работы уже в университете!</p>
            </div>
        </div>
    </div>
</div>

<div class="secname">
    <h4>Направления</h4>
</div>

<div class="inner-width" id="directions">
    <div class="services justify-content-center">
        {% for direction in directions %}
        <a  class="route service m-2" data-id="{{ direction.id}}">
            <img class="logoqwerty" src="" alt="Card image cap" >
            <div class="card-body">
                <h5 class="cardtext">{{ direction.name }}</h5>
                <p class="cardtext">{{ direction.description }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<div id="swiperDisplay" class="swiper-section" style=" {% if request.endpoint == 'index' %}display: none;{% endif %} ">
    <div class="swiper-container">
        <div  id="swiper"class="swiper-wrapper">
            {% for project in projects %}
            <div class="card-container swiper-slide">
                <div class="swiper-card">
                    <div class="swiper-circle">
                        <h4 class="card-title">{{ project.autumn_or_spring }}</h4>
                    </div>
                <div class="swiper-content">
                    <p class="card-text">{{ project.name }}</p>
                    <a href="" class="btn btn-primary">Страница проекта</a>
                    </div>
            </div>
            </div>
            {% endfor %}
            <div class="card-container swiper-slide">
                <div class="swiper-card swiper-end">
                <div class="swiper-circle">
                    <h4 class="card-title">Все проекты направления</h4>
                </div>
                <div class="swiper-content">
                    <p class="card-text"></p>
                    <a href=""
                        class="btn btn-primary">Перейти</a>
                </div>
            </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

{% endblock %}