{% extends 'base.html' %}

{% block content %}
<div class="container mp-cont ">
    <div class="derec__block">
        <div class="site-name">
            <div class="d-flex flex-column bd-highlight">
                <div class="bd-highlight">
                    <p class="fw-bold tag-1">Проектная деятельность</p>
                </div>
                <div class="bd-highlight">
                    <p class="tag-2">Факультет информационных технологий</p>
                </div>
            </div>
        </div>
        <div class="cards-block">
            <div class="" id="directions">
                <div class="cards-flex">
                    {% for direction in directions %}
                    <!-- Обновить выбор направления и переход на блок с ТОП-проектами -->
                    <a class="route service" data-id="{{direction.id}}" href="#cards">
                        <div class="logo-block"><img class="logoqwerty" src="{{ direction.image.url }}"
                                alt="Card image cap"></div>
                        <div class="card-body">
                            <h5 class="cardtext">{{ direction.name }}</h5>
                            <p class="cardtext1">{{ direction.description }}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mobile-cards-block d-none">
            <div class="send_proj_el">
                <div class="send_proj_name d-block">
                    <p></p>
                    <div class="d-flex justify-content-center">
                        <select class="send_select index-sel" aria-label="Default select example" id="select-direction">
                            <option class="" selected>Выберите направление</option>
                            {% for direction in directions%}
                            <option class="" value="{{direction.id}}">{{ direction.name }}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="top_proj_block">
        <div class="info-block1 d-flex justify-content-between">
            <div class="derec-name">
                <div class="d-flex flex-column bd-highlight">
                    <div class="bd-highlight">
                        <p class="top-proj-name">Топ 9 проектов</p>
                    </div>
                    <div class="bd-highlight top-proj-name-desc">
                        <p class="top-proj-derec" id="top-proj-derec">Все направления</p>
                    </div>
                </div>
            </div>
            <div class="derec-btn">
                <div id="to-projects" class="d-flex align-items-start flex-column bd-highlight"><a
                        href="{{ url_for('view.projects') }}" class="btn btn-primary to-all-proj"><i
                            class="bi bi-search mx-2"></i>Ко всем проектам</a></div>
                <!-- Обновить переход на страницу со всеми проектами с фильтром направления -->
            </div>
        </div>
        <div class="top-cards-block" id="cards">
            <div class="top-cards-flex" id="top-cards-flex">
                {% for item in projects %}
                <a class="route-to-pr-page top-card" href="{{ url_for('view.project', project_id=item.id) }}">
                    <!-- <div class="top-card "> -->
                    <div class="top-likes">
                        {% if item.poster %}
                        <img src="{{ item.poster[0].url }}" class="poster-block-img" alt="...">
                        {% else %}
                        <img src="https://img.pikbest.com/01/56/32/93KpIkbEsTjF8.jpg-0.jpg!bw700" class=" card-img-top"
                            alt="...">
                        {% endif %}
                        <!-- <iframe class="poster-block-img" src="{% for info in item.info %}{% if info.type.name == 'Постер с GoogleDisk' %}{{ info.resource | replace('view', 'preview') }}{% endif %}{% endfor %}" width="480" height="720" scrolling="no"></iframe> -->
                        <div class="bott-right">
                            <p>{{ item.likes }} <i class="bi bi-heart"></i></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ item.name }}</h5>
                        <p class="card-text">{{ item.short_description | truncate }}</p>
                        <!-- </div> -->
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}