{% extends 'base.html' %}

{% block content %}
<div class="container mp-cont ">
    <div class="derec__block">
        <div class="site-name">
            <div class="d-flex flex-column bd-highlight">
                <div class="bd-highlight">
                    <p class="fw-bold tag-1">Проектная деятельность</p>
                </div>
                <div class="bd-highlight">
                    <p class="tag-2">Факультет информационных технологий</p>
                </div>
            </div>
        </div>
        <div class="cards-block">
            <div class="" id="directions">
                <div class="cards-flex">
                    {% for direction in directions %}
                    <a class="route service" data-id="{{direction.id}}" href="#cards">
                        <div class="logo-block"><img class="logoqwerty" src="{{ direction.image.url }}"
                                alt="Card image cap"></div>
                        <div class="card-body">
                            {% if direction.id == 7 %}
                            <h5 class="cardtext">{{ direction.name.split()[0] }}<br>{{ direction.name.split()[1] }}</h5>
                            {% else %}
                            <h5 class="cardtext">{{ direction.name }}</h5>
                            {% endif %}
                            <p class="cardtext1">{{ direction.description }}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mobile-cards-block d-none">
            <div class="send_proj_el">
                <div class="send_proj_name d-block">
                    <p></p>
                    <div class="d-flex justify-content-center">
                        <select class="send_select index-sel" aria-label="Default select example" id="select-direction">
                            <option class="" selected>Выберите направление</option>
                            {% for direction in directions%}
                            <option class="" value="{{direction.id}}">{{ direction.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top_proj_block">
        <div class="info-block1 d-flex justify-content-between">
            <div class="derec-name">
                <div class="d-flex flex-column bd-highlight">
                    <div class="bd-highlight">
                        <p class="top-proj-name">Топ проектов</p>
                    </div>
                    <div class="bd-highlight top-proj-name-desc">
                        <p class="top-proj-derec" id="top-proj-derec">Все направления</p>
                    </div>
                </div>
            </div>
            <div class="derec-btn">
                <div id="to-projects" class="d-flex align-items-start flex-column bd-highlight">
                    <a href="{{ url_for('view.projects') }}" class="btn btn-primary to-all-proj">
                        <i class="bi bi-search mx-2"></i>Все проекты</a>
                </div>
            </div>
        </div>
        <div class="top-cards-block" id="cards">
            <div class="top-cards-flex" id="top-cards-flex">
                {% for item in projects %}
                <a class="before_course" href="{{ url_for('view.project', project_id=item.id) }}">
                    <div class="pre_course">
                        {% if item.poster %}
                        <div class="course"
                            style="background-image: url({{ url_for('image', image_id=item.poster[0].id) }});"
                            alt="...">
                            <p class="course-like">{{ item.likes }} <i class="bi bi-heart"></i></p>
                        </div>
                        {% else %}
                        <div class="course"
                            style="position:relative; background-image: url({{ url_for('defposter') }});">
                            <!-- <div class="course-like">
                                <p class="">{{ item.likes }} <i class="bi bi-heart"></i></p>
                            </div> -->
                            <p class="course-like">{{ item.likes }} <i class="bi bi-heart"></i></p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ item.name }}</h5>
                        <p class="card-text">{{ item.short_description | truncate }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<img src="{{ url_for('static', filename='/pngs/arrow_big.svg')}}" class="img-svg"
    style="display: inline-block; position: absolute; top: 450px;z-index: -100;">
<img src="{{ url_for('static', filename='/pngs/arrow_small.svg')}}" class="img-svg"
    style="display: inline-block; position: absolute; top: 600px; z-index: -100;">
<img src="{{ url_for('static', filename='/pngs/Cylinder_top.svg')}}" class="img-svg"
    style="display: inline-block; position: absolute; top: 900px; left: 130px;z-index: -100;">
<img src="{{ url_for('static', filename='/pngs/Toroid_1.svg')}}" class="img-svg"
    style="display: inline-block; position: absolute; top: 1000px; left: 10px;z-index: -100;">
<img src="{{ url_for('static', filename='/pngs/Cylinder_bot.svg')}}" class="img-svg"
    style="display: inline-block; position: absolute; top: 1210px; left: 50px;z-index: -100;">
<img src="{{ url_for('static', filename='/pngs/Cube_small.svg')}}" class="img-svg"
    style="display: inline-block; position: absolute; top: 250px; right: 80px;z-index: -100;">
<img src="{{ url_for('static', filename='/pngs/Cube_big.svg')}}" class="img-svg"
    style="display: inline-block; position: absolute; top: 500px; right: 150px;z-index: -100;">
<img src="{{ url_for('static', filename='/pngs/Graph.svg')}}" class="img-svg"
    style="display: inline-block; position: absolute; top: 900px; right: 10px;z-index: -100;">
{% endblock %}