@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    outline: none !important;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #403F4C !important;
    color: #000;
}

header {
    position: relative;
    z-index: 1000000;
}

p {
    font-size: 1.15rem;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

.navbar {
    background-color: #CE5353 !important;
    transition: 0.5s;
}

.navbar.scrolled {
    background-color: #CE5353 !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #000 !important;
    background-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #f2f2f2 !important;
    /*text-shadow: 1px 1px 2px #000;*/
}

.navbar-light .navbar-nav .nav-link:hover .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1) !important;
    /*text-shadow: 2px 2px 3px #000;*/
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255, 255, 255, 1) !important;
    /*text-shadow: 1px 1px 2px #000;*/
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-item .nav-link{
    font-size: 20px;
    font-weight: bold;
}


.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(#CE5353, #403F4C) !important;
    background-size: cover;
    margin-bottom: 0;
}

.banner:before {
    transform: skewY(-4deg);
    background: yellow;
}

.height100p {
    height: 100vh;
}

.h100 {
    height: 100%;
}

.contentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.contentBox h1 {
    font-weight: 800;
    color: #fff;
    /*text-shadow: 2px 2px 3px #000;*/
    text-transform: uppercase;
    font-size: 3rem;
}

.contentBox p {
    color: white;
    font-size: 1.5rem
}

.btnD1 {
    color: #f2f2f2;
    /*text-shadow: 1px 1px 2px #000;*/
    background-color: #ce5353;
    border-radius: 50px !important;
    padding: 15px 50px !important;
    font-size: 1.15rem !important;
    outline: none !important;
    font-weight: 500 !important;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.btnD1:hover {
    color: #f2f2f2;
    /*text-shadow: 1px 1px 2px #000;*/
}
/*Выбор направления*/

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 40px 0;
    padding-top: 0;
}

section .dark {
    padding: 100px 0;
}

.dark {
    padding-top: 25px;
    padding-bottom: 25px;
}

section.dark .section-title {
    color: #000;
}

section.dark .section-title::before {
    background-color: #f1f1f1;
}

section.dark .section-title::after {
    border: 4px solid #353b48;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid#CE5353;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    /*padding: 40px 20px; */
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
    background-color: white;
    font-weight: bold;
    padding-top: 20px;
    margin:10px;
}

.logoqwerty {
    height: 150px;
}

.logoqwerty {
    filter: invert(41%) sepia(74%) saturate(621%) hue-rotate(317deg) brightness(92%) contrast(74%);
}

.service:hover .logoqwerty {
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg) brightness(108%) contrast(108%);
}

.service .cardtext {
    font-size: 22px;
    margin-bottom: 6px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.service .cardtext:hover {
    color: #f2f2f2;
    text-decoration: none;
}

.service:hover {
    background-color: #CE5353;
}

.service:hover .cardtext {
    color: #f2f2f2;
    text-decoration: none;
}

.service:hover .icon {
    color: #fff;
}

.secname h4 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.secname2 h4 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 40px;
    color: white;
}


/*footer*/
footer {
    background: #ce5353;
    color: #fff;
    /*text-shadow: 1px 1px 2px #000;*/
    padding: 80px 0;
    text-align: center;
}

.copyright {
    margin-bottom: 20px;
    font-size: 20px;
}

.copyright a {
    font-size: 20px;
    color: #22bbbb;
    font-weight: 500;
}

.copyright a:hover {
    color: #f2f2f2;
}

.sm a {
    color: #fff;
    font-size: 32px;
    margin: 0 10px;
    transition: .2s linear;
}

.sm a:hover {
    color: #22bbbb;
}

.vsc-initalized {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer {
    flex: 0 0 auto;
}

.cursor-pointer {
    cursor: pointer;
}

.swiper-container {
    width: 600px;
    height: 300px;
}






/* ------------ swiper ------------- */

.swiper-container{
    width:100%;
    height: 100%;
}
.swiper-section *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', regular; /*ÐŸÐ¾Ð´ÐºÐ»ÑŽÑ‡Ð¸Ñ‚ÑŒ ÑÐ²Ð¾Ð¹ ÑˆÑ€Ð¸Ñ„Ñ‚ ÐµÑÐ»Ð¸ Ð½ÑƒÐ¶Ð½Ð¾*/
}

.swiper-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    margin-bottom:100px;
    background: transparent;
    background-attachment: fixed;
}

.card-container {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container .swiper-card {
    position: relative;
    min-width: 300px;
    height: 420px;
    background: #fff;
    margin: 25px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*.swiper-wrapper:hover .swiper-card {
    transform: scale(0.9);
    opacity: 0.5;
}*/

.swiper-wrapper .swiper-card:hover {
    transform: scale(1.1);
    opacity: 1;
}

.card-container .swiper-card .swiper-circle {
    position: relative;
    width: 100%;
    height: 120%;
    background: #ce5353;
    clip-path: circle(185px at center 0);
    text-align: center;
}

.card-container .swiper-end .swiper-circle {
    position: relative;
    width: 100%;
    height: 120%;
    background: #ce5353;
    clip-path: circle(205px at center 0);
    text-align: center;
}

.card-container .swiper-card .swiper-circle h2 {
    color: #fff;
    font-size: 24px;
    padding: 30px 0;
    margin-top: 50px;
    font-weight: bold;
}

.card-container .swiper-end .swiper-circle h2 {
    color: #fff;
    font-size: 3.5em;
    padding: 30px 0;
}

.card-container .swiper-card .swiper-content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-container .swiper-card .swiper-content p {
    color: #000;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-weight: bold;
}

.card-container .swiper-card .swiper-content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #ce5353;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-color: #ce5353;
}

.swiper-pagination-bullet-active {
    background-color: #ce5353 !important;
}

.swiper-pagination-bullet {
    background-color: white;
}

.swiper-button-next::after, .swiper-button-prev::after {
    color: #ce5353 !important;
}

.swiper-end {
    background-color: #ce5353;
}





/* ------------ projects ------------- */

.servicess{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.service1{
    text-align: center;
    border: 1px solid#CE5353;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    padding: 40px 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
    background-color: white;
    padding-bottom: 0px;
    align-content:center;
}   

.service1 h5{
    font-size: 22px;
    margin-bottom: 6px;
    margin-top:20px;
    color:black;
    text-decoration: none;
}

.service1 p{
    font-size: 22px;
    margin-bottom: 6px;
    margin-top:20px;
    color:black;
    text-decoration: none;
}

.btnprojects{
    padding: 10px 20px;
    background: #ce5353;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    justify-content: center;
    align-items:center;
}

.btnprojects:hover{
    background: #353b48;
    color: #f2f2f2;
    text-decoration: none;
}


.service1 .cardtext {
    font-size: 22px;
    margin-bottom: 6px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


/* ------ pagination -------- */


.pagination-outer{ text-align: center; }
.pagination{
    display: inline-flex;
    position: relative;
}
.pagination:before{
    content: "";
    width: 100%;
    height: 2px;
    background: #e8e8e8;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.pagination li a.page-link{
    padding: 5px 15px;
    margin-right: 15px;
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-shadow: 0 8px 6px -9px #5b5f5f;
    font-size: 17px;
    color: #686c6c;
}
.pagination li:first-child a.page-link{ margin-right: 30px; }
.pagination li:last-child a.page-link{ margin: 0 0 0 15px; }
.pagination li.active a.page-link,
.pagination li a.page-link:hover{
    background: #ce5353;
    border-color: #ce5353;
    color: #fff;
}


/* ------ project page -------- */



.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

section{
    padding: 100px 0;
    background-color: #403F4C;
}

.section-title{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    padding-bottom: 20px;
    color: #f2f2f2;
}

.name_project{
    color: #f2f2f2;
    font-weight: bold;
}

.about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-pic{
    width: 500px;
    margin-left: 100px;
}

.about-text{
    flex: 1;
    color: #f2f2f2;
}

.about-text h2{
    font-weight: bold;
    color: #fffdd0;
}

.about-text h3{
    margin: 10px 0;
    color: #fdf5e6;
    font-size: 16px;
    font-style: italic;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after{
    content: "";
    width: 6px;
    height: 6px;
    background-color: #444;
    display: inline-block;
    border-radius: 50%;
    margin: 0 14px;
}

.sec1{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin: 50px;
}

.sec1 .container{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
}

.sec1 .title span{
    background-color: indianred;
    text-align: left;
}

.image, .info-menu{
    margin:0 auto;
    width: calc(45% - 40px);
    
}

.image2{
    margin:0 auto;
    width:100%;

}

.likebtn{
    margin-bottom: 0;
    height:50px;
}

.likebtnimg{
    height: 50px;
    margin-bottom: 0;
    margin-left: 10px;
}

.icon{
    position: relative;
    width: 14px;
}

.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 14px;
    height:3px;
    background-color: #403F4C;
    top: -1.5px;
}

.icon::after{
    transform: rotate(90deg);
    transition: .5s linear;

}

.title{
    background-color: indianred;
    display: flex;
    color: #f2f2f2;
    padding: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 20px;
}

.text{
    background-color: rgb(122, 122, 122);
    color:#f2f2f2;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: auto;
    text-align: left;
    padding: 10px;
    border-radius: 20px;
}

.item #hidden_content3 ul{
    padding-left: 25px;
}

.item #hidden_content4 ol{
    padding-left: 25px;
}

.show-block{
    display: flex;
}
.item:target .icon::after{
    transform: rotate(0);
}

.item0{
    align-items: center;
    justify-content: flex-start;
}

.likesblock{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    color:#403F4C;
    font-weight:bold;
    margin: 0;
    justify-content: flex-end;
}

.likesblock p{
    border: 2px solid;
    border-radius: 50px;
    padding: 7px;
}

.likes{
    margin-top: 20px;
}

.linksblock{
    display: flex;
    align-items: center;
    
}
.right{
    margin-left: auto;
}
.links{
    
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.iconbtn{
    width: 45px;
    height: 45px;
    text-decoration: none;
    margin: 20px;
    position: relative;
    font-size: 20px;
    border-radius: 50%;
}

.iconbtn::before{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.iconbtn::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 0;
}

.links .iconbtn{
    border: 4px solid #403F4C;
    color: indianred;
}
.links .iconbtn::after{
    background: #403F4C;
    transition: 0.4s;
}
.links .iconbtn:hover::after{
    transform: scale(1.3);
    opacity: 0;
}

.links .iconbtn:hover{
    color: indianred;
    ;
}

.sec1 i{
    background-color: rgb(122, 122, 122)
}

.sec1 .points_sum{
    font-weight: bold;
}

.sec1 em{
    background-color: rgb(122, 122, 122);
    color: #000;
    font-weight:bold; 
}

.container1{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.testimonials{
    color: #f2f2f2;
    text-align: center;
    color: #403F4C;
}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}
.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial{
    background: #fff;
    padding: 30px;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}


@media (max-width: 992px) {
    .banner {
        min-height: 100vh;
        padding: 100px 0;
    }

    .contentBox h1 {
        font-size: 2rem;
    }

    .navbar-light .navbar-brand,
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:visited {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 980px) {

    .inner-width {
        max-width: 800px;
    }

    .service {
        width: calc(50% - 20px);
    }
    .service1 {
        width: calc(50% - 20px);
    }
    
    .about-pic{
        margin-left: 0;
        margin-top: 20px;
    }

    .about-text{
        align-items: center;
        justify-content: center;
    }

    .col{
        flex: 100%;
        max-width: 80%;
      }
}

@media screen and (max-width:790px) {
    .sec1 .container{
        max-width: 600px;
        display: block;
        text-align:center;
    }

    .image, .info-menu{
        width: 100%;
        margin: 30px 0;
    }

    .likesblock{
        height: 60px;
        display: flex;
        align-items: center;
    }
    
    .links{
        margin-left: 20px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content:space-around;
    }

    .item0{
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }

    .service {
        width: 100%;
    }
    .service1 {
        width: 100%;
    }

    .navbar-light .navbar-brand,
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:visited {
        font-size: 1.2rem;
    }

    .contentBox h1 {
        font-size: 2rem;
        text-transform: none;
    }
    .sec1{
        margin: 0;
    }

    .col{
        flex: 100%;
        max-width: 100%;
      }
}

@media only screen and (max-width: 479px){
    .pagination{
        display: block;
        overflow: auto;
    }
    .pagination:before{ display: none; }
    .pagination li{ display: inline-block; }
}

@media screen and (max-width:380px){
    .sec1 .container{
        max-width: 600px;
        display: block;
        text-align:center;
    }

    .image, .info-menu{
        width: 100%;
        margin: 30px 0;
    }
    
    .likesblock{
        height: 60px;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
    .links{
        margin-left: 20px;
        height: 60px;
        display: flex;
        align-items: center;
    }

    .item0{
        align-items: center;
    }

    .likebtn{
        margin-left: -10px;
    }

    .card-container{
        width: 100%;
    }
}

@media screen and (max-width: 330px) {

    .navbar-light .navbar-brand,
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:visited {
        font-size: 1rem;
    }

    .contentBox h1 {
        padding-top: 30px;
    }

    .iconbtn{
        margin:10px;
    }
}

