@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    outline: none !important;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #403F4C !important;
    color: #000;
}

header {
    position: relative;
    z-index: 1000000;
}

p {
    font-size: 1.15rem;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

.navbar {
    background-color: #CE5353 !important;
    transition: 0.5s;
}

.navbar.scrolled {
    background-color: #CE5353 !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #000 !important;
    background-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #f2f2f2 !important;
    /*text-shadow: 1px 1px 2px #000;*/
}

.navbar-light .navbar-nav .nav-link:hover .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1) !important;
    /*text-shadow: 2px 2px 3px #000;*/
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255, 255, 255, 1) !important;
    /*text-shadow: 1px 1px 2px #000;*/
    font-size: 1.5rem;
    font-weight: 600;
}



.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(#CE5353, #403F4C) !important;
    background-size: cover;
    margin-bottom: 0;
}

.banner:before {
    transform: skewY(-4deg);
    background: yellow;
}

.height100p {
    height: 100vh;
}

.h100 {
    height: 100%;
}

.contentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.contentBox h1 {
    font-weight: 800;
    color: #fff;
    /*text-shadow: 2px 2px 3px #000;*/
    text-transform: uppercase;
    font-size: 3rem;
}

.contentBox p {
    color: white;
    font-size: 1.5rem
}

.btnD1 {
    border: 2px solid #ffa630;
    color: #f2f2f2;
    /*text-shadow: 1px 1px 2px #000;*/
    background-color: #ce5353;
    border-radius: 50px !important;
    padding: 15px 50px !important;
    font-size: 1.15rem !important;
    outline: none !important;
    font-weight: 500 !important;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.btnD1:hover {
    color: #f2f2f2;
    /*text-shadow: 1px 1px 2px #000;*/
}

@media (max-width: 992px) {
    .banner {
        min-height: 100vh;
        padding: 100px 0;
    }

    .contentBox h1 {
        font-size: 2rem;
    }

    .navbar-light .navbar-brand,
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:visited {
        font-size: 1.4rem;
    }
}

/*Выбор направления*/

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 40px 0;
    padding-top: 0;
}

section .dark {
    padding: 100px 0;
}

.dark {
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
}

section.dark .section-title {
    color: #000;
}

section.dark .section-title::before {
    background-color: #f1f1f1;
}

section.dark .section-title::after {
    border: 4px solid #353b48;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid#CE5353;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    padding: 40px 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
    background-color: white;
}

.logoqwerty {
    height: 150px;
}

.logoqwerty {
    filter: invert(41%) sepia(74%) saturate(621%) hue-rotate(317deg) brightness(92%) contrast(74%);
}

.service:hover .logoqwerty {
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg) brightness(108%) contrast(108%);
}

.service .cardtext {
    font-size: 22px;
    margin-bottom: 6px;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

.service .cardtext:hover {
    color: #f2f2f2;
    text-decoration: none;
}

.service:hover {
    background-color: #CE5353;
}

.service:hover .cardtext {
    color: #f2f2f2;
    text-decoration: none;
}

.service:hover .icon {
    color: #fff;
}

.secname h4 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 40px;
    color: white;
}

.secname2 h4 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 40px;
    color: white;
}


/*footer*/
footer {
    background: #ce5353;
    color: #fff;
    /*text-shadow: 1px 1px 2px #000;*/
    padding: 80px 0;
    text-align: center;
}

.copyright {
    margin-bottom: 20px;
    font-size: 20px;
}

.copyright a {
    font-size: 20px;
    color: #22bbbb;
    font-weight: 500;
}

.copyright a:hover {
    color: #f2f2f2;
}

.sm a {
    color: #fff;
    font-size: 32px;
    margin: 0 10px;
    transition: .2s linear;
}

.sm a:hover {
    color: #22bbbb;
}

@media screen and (max-width: 980px) {

    .inner-width {
        max-width: 800px;
    }

    .service {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }

    .service {
        width: 100%;
    }

    .navbar-light .navbar-brand,
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:visited {
        font-size: 1.2rem;
    }

    .contentBox h1 {
        font-size: 2rem;
        text-transform: none;
    }

}

@media screen and (max-width: 330px) {

    .navbar-light .navbar-brand,
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:visited {
        font-size: 1rem;
    }

    .contentBox h1 {
        padding-top: 30px;
    }

}

.vsc-initalized {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer {
    flex: 0 0 auto;
}

.cursor-pointer {
    cursor: pointer;
}

.swiper-container {
    width: 600px;
    height: 300px;
}